
cvibuild\.TRS/

*.TRM

*.TRS

*.pos

*.GEO

*.obj

*.BRE

CVI_ADE_070100\.txt

TRS_dbg\.exe

Trs\.exe

TRS\.cws

system\.cfg

LucaHandle\.log

laser\.cfg

INI/before pranav/

INI/gain_3_4/

INI/Ham_PMT_NIR/spc131_G4_giuseppe\.ini

*.ini

TDC/

POS/old_pos/

POS/bfre 20-11/

POS/

INI/INIs/

INI/material/

INI/

dump/